# Logs
*.log
npm-debug.log*
yarn-error.log

# Dependencies
node_modules/

# Coverage
coverage/

# Transpiled files
dist/

# Misc
.DS_Store
tmp/

# python pyc
*.pyc
public/*
public/logs/*
# public/download/
dump.rdb
