<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
      crossorigin="anonymous"
    />

    <style>
      form {
        display: flex;
        flex-direction: column;
        margin: 20vh auto;
        align-items: center;
        justify-content: center;
      }
      form * {
        flex: 1;
        width: 50vw;
      }
      @media only screen and (max-width: 800px) {
        form * {
          flex: 1;
          width: 80vw;
        }
      }
      @media only screen and (min-width: 800px) {
        form * {
          flex: 1;
          width: 36vw;
        }
      }
    </style>
  </head>
  <body>
    <form action="/admin/login" method="POST" class="ui form">
      <div class="field">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name" />
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="password" />
      </div>
      <button class="ui button" type="submit">Login</button>
    </form>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
